.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E83845;
}

.motion-div{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 1em;
  margin-left: 1em;
  margin-right: 1em;
}